
    <section id="categories-section">
        <div id="carouselExample" class="carouselPrograms carousel slide" data-ride="carousel" data-interval="false">
            <div class="container" >
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-md-4 col-sm-6 col-xs-12 active">
                       <div class="panel panel-default  text-center">
                           <a href="#">
                               <span class="category-item">
                                   category Item 
                               </span>
                           </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4 col-sm-6 col-xs-12  ">
                       <div class="panel panel-default text-center">
                           <a href="#">
                               <span class="category-item ">
                                   category Item 
                               </span>
                           </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4 col-sm-6 col-xs-12  ">
                       <div class="panel panel-default text-center">
                           <a href="#">
                               <span class="category-item ">
                                   category Item 
                               </span>
                           </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4 col-sm-6 col-xs-12  ">
                       <div class="panel panel-default text-center">
                           <a href="#">
                               <span class="category-item ">
                                   category Item 
                               </span>
                           </a>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4 col-sm-6 col-xs-12  ">
                       <div class="panel panel-default text-center">
                           <a href="#">
                               <span class="category-item ">
                                   category Item 
                               </span>
                           </a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <section id="products-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product-item-wrapper">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="/public/images/inside-weather-Uxqlfigh6oE-unsplash.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="product-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi expedita odio officiis accusantium explicabo consequuntur unde. Odit aperiam at corporis iste, vero minus quam corrupti, rem commodi tenetur labore!
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum enim neque sint hic beatae labore quia obcaecati eaque optio. Ullam dolorum a ea. Est impedit quisquam, nostrum facilis eligendi dicta!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="button-wrapper">
                        <button class="btn btn-white">
                            Show More
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

