    <!--My profile section-->
    <section id="user-data-section">
        <div class="container">
            <div class="row row-fix">
                <div class="col-md-5 justify-center width-30">
                    <div class="myprofile">
                        <span class="">My Profile</span>
                    </div>

                    <div class="user-image">
                        <img class="img-fluid" src="/views/images/avat-01-512.png" alt="">
                    </div>

                    <div class="username">
                        <span class="input-group-text" id="basic-addon1">@herse</span>
                    </div>
                </div>
                <div class="col-md-5 user">
                    <div class="user-data">

                        <div class="row">
                            <div class="col format-col">
                                <label class="label-default">Firstname: </label>
                                <span class="data">Ersa</span>
                            </div>
                            <div class="col format-col">
                                <label class="label-default">Lastname: </label>
                                <span class="data">Doka</span>
                            </div>
                        </div>

                        <div class="col format-col">
                            <label class="label-default">Email: </label>
                            <span class="data">ersa@doka.com</span>
                        </div>

                        <div class="row">
                            <div class="col format-col">
                                <label class="label-default">Street: </label>
                                <span class="data">Rruga 5 Maji</span>
                            </div>

                            <div class="col format-col">
                                <label class="label-default">City: </label>
                                <span class="data">Tirane</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col format-col country">
                                <label class="label-default">Country: </label>
                                <span class="data">Albania</span>
                            </div>
                            <div class="col format-col">
                                <label class="label-default">Zip: </label>
                                <span class="data">1001</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row row-fix explanation">
                        <p>
                            Others can only see your username.
                            You cannot edit your username.
                        </p>
                    </div>

                    <div class="row-fix edit-profile-btn">
                        <button class="btn-white">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="product-sections">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 justify-center width-30">
                    <div class="myprofile">
                        <span class="">My Products</span>
                    </div>
                </div>
            </div>

            <!--One Product Row, Start cycle here-->
            <div class="row row-margin">

                <div class="col-md-2">
                    <div class="img-wrapper text-center margin-top-5">
                        <img src="/views/images/cupboard.jpg" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-md-6 product-details">
                    <div class="row product-name">
                        <span><b>Product name</b></span>
                    </div>
                    <div class="row">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Officia similique quis libero consequatur ad natus itaque
                            adipisci quisquam delectus, animi minus voluptate repellat
                            voluptatem, veritatis tempore autem fuga iusto molestiae?
                        </p>
                    </div>
                    

                </div>

                <div class="col-md-4 btn-div">
                    <div class="col col-action">
                        <button class="btn btn-edit">Edit</button>
                    </div>
                    <div class="col col-action">
                        <button class="btn btn-delete">Delete</button>
                    </div>
                </div>
            </div>
            <!--End Cycle here-->
        </div>
    </section>


