<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\HP\Documents\SWAP-Project\Swap\public\css\style.css">
    <link rel="stylesheet" href="C:\Users\HP\Documents\SWAP-Project\Swap\public\css\myProfile.css">
    <link rel="stylesheet" href="C:\Users\HP\Documents\SWAP-Project\Swap\public\css\Product_Page.css">
    <script src="https://kit.fontawesome.com/c355012b63.js" crossorigin="anonymous"></script>
    <link href="C:\Users\HP\Documents\SWAP-Project\Swap\public\js\myProfile.js">
</head>

<body id="b">
    <nav class="navbar navbar-dark  height-45" style="background-color: black;" role="navigation">
        <div class="container ">
            <div class="row width-100">
                <div class="col">
                    <form class="form-inline" action="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"></button>
                                <div id="list" class="dropdown-menu">
                                    <input type="radio" name="option" class="dropdown-item" id="productSelected"
                                        value="product" checked></input>
                                    <label class="label" for="productSelected">Product</label>

                                    <input type="radio" name="option" class="dropdown-item" id="categorySelected"
                                        value="category"></input>
                                    <label class="label" for="categorySelected">Category</label>

                                    <input type="radio" name="option" class="dropdown-item" id="userSelected"
                                        value="user"></input>
                                    <label class="label" for="userSelected">User</label>

                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Search input with dropdown button"
                                href="#" placeholder="Search product">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    </form>
                </div>

                <div class="col">
                    <div class="logo-wrapper text-center margin-top-5">
                        <img src="C:\Users\HP\Documents\SWAP-Project\Swap\public\images\Logo.png" alt="" >
                    </div>
                </div>

                <div class="col">
                    <section class="text-center">
                        <!--Chat icon-->
                        <a class="btn btn-outline-light btn-floating m-1 border-none" href="Chat_Page.html"
                            role="button" data-toggle="tooltip" data-placement="bottom" title="Chat">
                            <i class="fas fa-location-arrow"></i>
                        </a>
                        <!--Notification icon-->
                        <a class="btn btn-outline-light btn-floating m-1 border-none" href="Notif_Page.html"
                            role="button" data-toggle="tooltip" data-placement="bottom" title="Notifications">
                            <i class="fas fa-bell"></i>
                        </a>
                        <!--User profile-->
                        <a class="btn btn-outline-light btn-floating m-1 border-none" href="Profile_Page.html"
                            role="button" data-toggle="tooltip" data-placement="bottom" title="My Profile">
                            <i class="fas fa-user"></i>
                        </a>
                        <!--Log out-->
                        <a class="btn btn-outline-light btn-floating m-1 border-none" href="logout.php" role="button"
                            data-toggle="tooltip" data-placement="bottom" title="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </section>
                </div>

            </div>
        </div>
    </nav>

    <!--My profile section-->
    <section id="user-data-section">
        <div class="container">
            <div class="row row-fix">
                <div class="col-md-5 justify-center width-30 form">
                    <div class="myprofile">
                        <span class="">My Profile</span>
                    </div>

                    <div class="user-image">
                        <img class="img-fluid" src="C:\Users\HP\Documents\SWAP-Project\Swap\public\images\avat-01-512.png" alt="">
                    </div>

                    <div class="username">
                        <span class="input-group-text" id="basic-addon1">@herse</span>
                    </div>
                    <div class="username">
                        <p>Name</p>
                    </div>
                    <div class="edit-profile-btn">
                        <button class="btn btn-edit">Edit Profile</button>
                    </div>
                    <div>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa minus voluptatem fugit labore, hic, natus 
                            sint atque iusto, libero eius est sed sapiente odio perspiciatis suscipit nisi iure necessitatibus unde.</p>
                    </div>
                </div>
                
                <div class="col-8">
                    <div>
                        <h5 class="sw-item-flex-end">Latest Post</h5>
                    </div>
                    <div class="col-9 inner-div">
                        
                        <!--Siper fotos nje buton dropdown me opsionet edit dhe delete-->
                        <div id="product-options">
                            <div class="input-group-prepend">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                                <div id="list" class="dropdown-menu">
                                    <input type="radio" name="option" class="dropdown-item" id="productSelected"
                                        value="product" checked></input>
                                    <label class="label" for="productSelected">Edit</label>

                                    <input type="radio" name="option" class="dropdown-item" id="categorySelected"
                                        value="category"></input>
                                    <label class="label" for="categorySelected">Delete</label>
                                </div>
                            </div>
                        </div>

                        <!--Imazhi i produktit te postuar-->
                        <div class="media-object1"> 
                            <img src="C:\Users\HP\Documents\SWAP-Project\Swap\public\images\tshirt.jpg"> 
                        </div>
                        <div>
                            <p class="description margin-left">Description</p>
                        </div>
                    </div>
                    
                    <div class="col-9 inner-div">
                        
                        <!--Siper fotos nje buton dropdown me opsionet edit dhe delete-->
                        <div id="product-options">
                            <div class="input-group-prepend">
                               <button class="btn dropdown-toggle " type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button> 
                                <div id="list" class="dropdown-menu">
                                    <input type="radio" name="option" class="dropdown-item" id="productSelected"
                                        value="product" checked></input>
                                    <label class="label" for="productSelected">Edit</label>

                                    <input type="radio" name="option" class="dropdown-item" id="categorySelected"
                                        value="category"></input>
                                    <label class="label" for="categorySelected">Delete</label>
                                </div>
                            </div>
                        </div>

                        <!--Imazhi i produktit te postuar-->
                        <div class="media-object1"> 
                            <img src="C:\Users\HP\Documents\SWAP-Project\Swap\public\images\table.jpg">
                        </div>
                        <div class="background-whitesmoke">
                            <p class="description margin-left">Description</p>
                        </div>
                    </div>

                    <!--Shto Produkt-->
                    <div class="center">
                       <button class="btn border-rad">ADD</button> 
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <footer class="text-white" style="background-color: black;">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-7">
                    <section class="">
                        <form action="">
                            <div class="row d-flex">
                                <div class="col-auto">
                                    <p class="pt-2 text-Inter">
                                        <strong>SUBSCRIBE TO OUR NEWSLETTER</strong>
                                    </p>
                                </div>

                                <div class="col-md-5 col-12" style="width: 450px;">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Enter your e-mail adress here" aria-label="Email"
                                            aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                                <i class="fas fa-angle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </section>
                </div>
                <div class="col-md-2">
                    <div class="col-auto">
                        <p class="pt-2 text-Inter">
                            <strong>JOIN US ON</strong>
                        </p>
                    </div>

                </div>
                <div class="col-md-2" style="padding-left: 10px ;">
                    <section class="mb-2">
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-twitter"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-instagram"></i></a>

                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-Inter terms-cond">
                    <a href="/views/files/terms and conditions.pdf" download rel="noopener noreferrer" target="_blank"
                        style="color: white;">
                        TERMS & CONDITIONS POLICY
                    </a>
                </div>
                <div class="col-md-6 text-Inter terms-cond">
                    <p> © 2021 Swap All Rights Reserved </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>