
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\HP\Documents\SWAP-Project\Swap\public\css\style.css">
    <link rel="stylesheet" href="C:\Users\HP\Documents\SWAP-Project\Swap\public\css\myProfile.css">
    <link rel="stylesheet" href="C:\Users\HP\Documents\SWAP-Project\Swap\public\css\Product_Page.css">
    <script src="https://kit.fontawesome.com/c355012b63.js" crossorigin="anonymous"></script>
    <link href="C:\Users\HP\Documents\SWAP-Project\Swap\public\js\myProfile.js">
</head>
   
   
   <!--My profile section-->
   <div class="background-image">
    <section id="user-data-section">
        <div class="container">
            <div class="row row-fix">
                <div class="col-md-5 justify-center width-30 form">
                    <div class="myprofile">
                        <div id='product-options'>
                            <span class="">My Profile</span>
                        </div>
                    </div>

                    <div class="user-image">
                        <img class="img-fluid" src="C:\Users\HP\Documents\SWAP-Project\Swap\public\images\avat-01-512.png" alt="">
                    </div>

                    <div class="username">
                        <span class="input-group-text" id="basic-addon1">@herse</span>
                    </div>
                    <div class="username">
                        <p>Name</p>
                    </div>
                    <div>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa minus voluptatem fugit labore, hic, natus 
                            sint atque iusto, libero eius est sed sapiente odio perspiciatis suscipit nisi iure necessitatibus unde.</p>
                    </div>
                </div>
                
                <div class="col-8">
                    <div>
                        <h5 class="sw-item-flex-end">Latest Post</h5>
                    </div>
                    <div class="col-9 inner-div">
                        <div class="grey-line">    
                        </div>

                        <!--Imazhi i produktit te postuar-->
                        <div class="media-object1"> 
                            <img src="C:\Users\HP\Documents\SWAP-Project\Swap\public\images\tshirt.jpg"> 
                        </div>
                        <div>
                            <p class="description margin-left">Description</p>
                        </div>
                    </div>
                    
                    <div class="col-9 inner-div">
                        <div class="grey-line">   
                        </div>

                        <!--Imazhi i produktit te postuar-->
                        <div class="media-object1"> 
                            <img src="C:\Users\HP\Documents\SWAP-Project\Swap\public\images\table.jpg">
                        </div>
                        <div class="background-whitesmoke">
                            <p class="description margin-left">Description</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>