/*sidebar*/
.sidebar {
    position: fixed;
    height: 100%;
}
.info {
    position: relative;
}

.font-size-30{
    font-size: 30px;
}

.font-size-20{
    font-size: 20px;
}

.img-fluid{
    justify-self: center;
}

#user-menu :hover{
    font-weight: bolder;
}
#category-menu :hover{
    font-weight: bolder;
}
#notif-menu :hover{
    font-weight: bolder;
}
#admin-menu :hover{
    font-weight: bolder;
}


#logout :hover{
    font-weight: bolder;
}

.height-fit-content{
    height: fit-content;
}

.font-bold{
    font-weight: bolder;
}


/*content*/
.admin {
    display: none;
}