
.background-image{
    background-color: white; 
/*    background: url() no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:  cover; */
    margin-top: -10%; 
    /*https://wallpapercave.com/wp/wp4560584.png*/ 
}
/*Section*/

.user-image{
    padding: 10px 50px;
}

.width-30{
    width: 30% !important;
}   

.user{
    margin-left: 40px;
    padding-top: 50px;
}

.row-fix{
    margin-top: 50px !important;
}
/*
.form-control, .custom-select{
    width: 240px !important; 
    background-color: whitesmoke !important;
    border: none !important;
}

.form-css{
    height: 37px !important; 
}

.custom-select{
    height: 37px !important; 
    border-radius: 4px !important; 
}

.country{
    margin-top: 25px !important;
}

.label-default{
    padding-left: 5px !important;
}

*/

.myprofile{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    line-height: 40px;
    color: rgb(104, 76, 62);
    text-align: center;
    align-items: center;
    
}

 .btn-edit{
    border-radius: 70px;
    border: none;
    background-color: rgb(211, 189, 170);
    width: 65%;
    margin-bottom: 5%;
    color: black;
}

.label-default{
    border: 1px solid rgb(218, 194, 173);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(218, 194, 173);
}


.format-col{
    padding: 10px 0px;
}

.data-username{
    color: rgb(104, 76, 62);
    font-size: 20px;
}

.explanation, .edit-profile-btn{
   text-align: center !important;
    padding: 5px 0px !important;
}

.btn-white{
    height: 20px;
    font-size: medium;
    margin-bottom: 10px; 
}
.input-group-text{
    width: fit-content;
    text-align: center;
    background-color: transparent;
    border: none !important;
    border-radius: 15px !important;
    color: #B79378 !important;
}

.username{
    text-align: center !important;
    padding: 10px 0px !important;
    display: flex;
    justify-content: center;
}
.username p{
    color: black;
}

/*My products Section*/

#product-sections{
    margin-top: 50px;
}

.row-margin{
    margin-left: 80px !important;
    padding-bottom: 30px;
    max-height: 250px;
}

.product-details{
    margin: auto;
    align-items: flex-start;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
}

#product-options{
    background-color: whitesmoke;
}

.img-wrapper img{
    max-height: 150px !important;
}

.btn-div{
    margin: auto !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: auto;

}

.col-action{
    padding: 5px !important;
}

 h5{
    margin-top: 2%;
    margin-left: 2%;
}

.form{
    border: none;
    box-shadow: 5px 5px 15px rgb(194, 191, 191); 
    border-radius: 10px;
    position:sticky;
    top: 0;
    left: 0;
    max-height: 680px !important;
    background-color: whitesmoke;
    margin-bottom: 2%;
    max-width: 24%;
    margin-top: 12%;
}/**/
 

/*lista e produkteve*/
.sw-item-flex-end{
    color: black;
    margin-bottom: 2%;
    margin-top: 0;
}
.col-8{
    border: none;
/*    box-shadow: 5px 5px 10px rgb(207, 206, 206); */
    border-radius: 10px;
    margin-left: 7%;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 3%;
    margin-top: 12%;
}

 .col-9{
/*    border: 0.2px solid; */
    box-shadow: 5px 5px 15px rgb(194, 191, 191); 
    margin-left: 9.5%;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 4%;
    background-color: white;
    overflow: hidden;
}

.media-object1{
    margin-left: auto;
    margin-right: auto;
    width:460px;
    height: 460px;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: none;
}

.desription, .margin-left{
    padding: 5%;
    border-top: 0.2px solid whitesmoke;
    padding-top: 10px;
    background-color: whitesmoke;
    margin-bottom: 0;
}
.desription{
    color: white;
}

.background-whitesmoke{
    background-color: whitesmoke;
}

/*butonni add produkt*/
.border-rad{
    border-radius: 150px;
    background-color: whitesmoke;
    color: #B79378;
    font-weight: bold;
}
.center{
    margin-left: 45%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 3%;
    
}



.container{
    margin-left: 4%;
}