body {
    min-height: 100vh; 
    display: block;
    background: url(https://wallpaperaccess.com/full/409768.png)no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
   
#notifications-section {
    margin: 50px 0;
}

.user-image-wrapper {
    border-radius: 30px;
    max-width: 80px;
}

.notification-item {
    max-width: 650px !important;
    margin: auto; 
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px rgb(180, 179, 179);
    background-color:transparent;
    max-height: 150px; 
}

.notification-item .notification-wrapper p{ 
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
}


.notification-action {
    text-align: center;
    margin: 10px 0;
}

