@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:wght@700&family=Neuton:wght@200&family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.justify-center {
    justify-content: center !important;
}

.logo-wrapper {
    max-width: 80px;
    margin: auto;
}

/*vtm per faqjen about*/
.about-logo{
    margin-left: 50%;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0,
}


/*Sections*/

#scroll-to{
    color: #000;
    text-decoration: none;
}
.section-1 {
    position: relative;
    background-color: rgb(245, 245, 245);
    padding-bottom: 70px;
}

.sw-item-flex-end {
    align-self: center
}

.sw-title h2{
    font-family: 'Merriweather', serif;
    font-size: 120px;
    line-height: 40px;
    color: rgb(104, 76, 62);
    margin-top: 8%; /*shtese nga ersa*/
    margin-bottom: 2%; /*shtese nga ersa*/
    text-align: center; /*shtese nga ersa*/
 }

 
.flash {
    position: absolute;
    top: 55px;
    width: 100%;
    text-align: center;
}



@media  (max-width: 1200px) {
    
    .sw-title {
        position: relative;
        top: unset;
    }

    .sw-title h2{
        font-size: 70px;
    }

}

@media  (max-width: 600px) {
    
    .sw-title {
        position: relative;
        top: unset;
    }

    .sw-title h2{
        font-size: 32px;
    }

}

/*body{
    background-color: rgb(245, 245, 245);
} */

.sw-item-flex-end h3{
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 60px;
}

.sw-item-flex-end p{
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 60px;
}

.section-2{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(235, 223, 223, 85%);
    position: relative;
}

.section-2-txt h3{
    text-align: center;
    font: 'Neuton';
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 60px;
}

.section-2-txt p{
    text-align: center;
    font: 'Neuton';
    font-size: 20px;
}

.btn-1{
    background-color: rgba(183, 147, 120, 1);
    text-align: center;
    border-radius: 55px;
    border: none;
    bottom: 20px;
}

.btn-1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 40px 0px;
}

.text-Inter{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.black-background{
    background-color: black;
    font-weight: 400;
}

.input-group input{
    background-color: rgba(54, 54, 54, 1);
    border: rgba(54, 54, 54, 1);
    border-radius: 25px;
}


.terms-cond{ 
    font-size: 12px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.btn-white {
    background: rgba(245, 245, 245, 1);
    border-radius: 30px !important;
    padding: 15px 25px !important;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000 !important;
}


.btn-accept {
    background-color: green !important;
    color: #fff !important;
    padding:  5px 10px!important;
    font-size: 20px !important;
    border-radius: 15px !important;
}

.btn-decline {
    background-color: red !important;
    color: #fff !important;
    padding: 5px 10px  !important;
    font-size: 20px !important;
    border-radius: 15px !important;
}

.get-started {
    color: white;
    text-transform: none;
    text-decoration: none;
}

.get-started:hover {
    text-transform: none;
    text-decoration: none;
    color: white;
}

/* .section-2 {
    margin-bottom: 40px;
}

.btn-start {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

.btn-1:hover {
    background-color: #806653;
}


/*Header i brendshem*/
.navbar{
    background-color: black;
    display: inline-flex;
    width: 100%;
    height: 55px;
}
#logo{
    display:inline;
    margin-left: auto;
    margin-right: auto; 
}
.col{
    float: right;
    border: none;
    padding-right: 10px;
}
.form-control{
    display: inline;
    margin-right: auto;
}
/*Navbari me search bar dhe ikona*/
.width-100{
    width: 100%; 
    --bs-gutter-x: 6.5rem !important;
}

.border-none{
    border: none !important;
}

.text-align-center{
    text-align: center;
}

.margin-top-5{
    margin-top: 5px;
}

.height-55{
    height: 55px !important;
}


.dropdown-menu input[type="radio"]{
    opacity: 0;
    width: 0;
}

.dropdown-menu{
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: none;
}

.dropdown-menu input[type="radio"]:hover + label{
    background-color: rgb(226, 184, 145);
  }


.dropdown-menu input[type="radio"]:checked + label{
    background-color: rgb(182, 138, 97);
    border-color: rgb(182, 138, 97);
}

.label{
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.width-100 {
    width: 100%;
}



@media (max-width: 1000){
    /*rregullo ikonat*/
}

#list {
    padding: 0;
}

.height-footer {
    height: 260px;
}

.fill-page {
    min-height: calc(100vh - 405px);
}

.justify-right{
    margin-left: auto;
}
.white{
    text-decoration: none;
    color: white;
    
}

.white:hover{
    color: white;
    font-weight: bold;
}

.full-width{
    width: 100%;
}

.link-about{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.link-about:hover{
    color: white;
}

.container, .push-right{
    margin-left: 10%;
}